body {
  background-color: #778899;
  background-image: url("https://cdn.pixabay.com/photo/2018/07/23/20/00/record-3557751_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  overflow: hidden;
  background-color: #191970;
  top: 0;
  transition: top 0.3s;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #778899;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: white;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  border-radius: 5px;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
}

.topnav .search-icon {
  color: #778899;
  border-radius: 5px;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
}

.search-icon:hover {
  background-color: white;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.login-form button {
  background-color: #191970;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login {
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  color: #191970;
}

.login-form {
  width: 40%;
  display: inline-block;
  background-color: none;
}

.login-form input {
  opacity: .5;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: none;
  border-bottom:1px solid white;
  box-sizing: border-box;
}

.login-form input:hover, .login-form:active {
  outline: none;
  border: none;
  border-bottom: 4px solid #191970;
  opacity: 1;
  transition: width .5s ease, border-bottom .5s ease;
}

.login-form ::placeholder {
  color: #191970;
  opacity: 1;
}


.sign-up {
  background-color: #191970;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.review-container {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 25%;
  height: 25%;
  background-color: white;
}

.review-container .img-con {
  flex: 0 0 150px;
}

.review-container .img-con img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-height: 100px;
  max-width: 100px;
  height: 100px;
  width: 100px;
}

.review-container .content {
  padding-left: 20px;
  font-family: "Lucida Console", Courier, monospace;
  color: #191970;
}

.review-container:hover {
  background-color: lightgrey;
}

.all-review-container {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 40%;
  height: 40%;
  background-color: white;
  margin: auto;
}

.all-review-container .img-con {
  flex: 0 0 150px;
}

.all-review-container .img-con img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-height: 100px;
  max-width: 100px;
  height: 100px;
  width: 100px;
}

.all-review-container .content {
  padding-left: 20px;
  font-family: "Lucida Console", Courier, monospace;
  color: #191970;
  opacity: 1;
}

.all-review-container:hover {
  background-color: lightgrey;
}

.review-page-container {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 40%;
  height: 60%;
  background-color: white;
  margin: auto;
}

.review-page-container .review-page-header {
}

.review-page-container .review-page-header .center{
  text-align: center;
}

.review-page-container .review-page-header img {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 150px;
  width: 150px;
}

.review-page-container .review-page-header .review-header-contents {
  text-align: center;
}

.review-page-container .full-review {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: white;
  margin: auto;
  max-width: 755px;
  line-height: 25px;
  margin-bottom: 30px;
  white-space: pre-wrap;
  font-family: "Times New Roman", Times, serif;
}

.search-bar {
  width: 30%;
}

.search-table {
  border-radius: 5px;
  width: 30.2%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  float: right;
  padding: 6px;
  margin-top: 42px;
  background-color: white;
  margin-right: -396px;
  display: block;
}

.review-container {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 25%;
  height: 25%;
  background-color: white;
}

.search-container .search-content {
  padding-left: 155px;
}

.search-container:hover {
  background-color: lightgrey;
}

.artist-container {
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  color: #191970;
}

.artist-contents {
  padding: 5px;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  color: #191970;
}

.artist-contents h2 {
  text-decoration: underline;
}

.artist-name:hover {
  color: grey;
}

.write-container {
  margin: auto;
  width: 10%;
  padding: 40px;
}

.write-container input {
  font-family: "Lucida Console", Courier, monospace;
  color: #191970;
  padding: 6px;
  width: 300px;
  height: 10px;
  font-size: 13px;
  padding-bottom: 20px;
  display: block;
  border: none;
  border-bottom:1px solid white;
  box-sizing: border-box;
  margin: 15px 15px 15px 15px;
}

.write-container input:hover {
  outline: none;
  border: none;
  border-bottom: 4px solid #191970;
  opacity: 1;
  transition: width .5s ease, border-bottom .5s ease;
}

.write-form input::placeholder {
  font-family: "Lucida Console", Courier, monospace;
  color: #191970;
}

.write-container textarea::placeholder {
  font-family: "Lucida Console", Courier, monospace;
  color: #191970;
}

.write-container textarea {
  border-radius: 5px;
  padding: 6px;
  border: none;
  width: 500px;
  height: 300px;
  font-size: 13px;
  clear: both;
  margin-left: -80px;
  position: relative;
}

.write-container button {
  font-family: "Lucida Console", Courier, monospace;
  height: 20px;
  width: 100px;
  border: 2px solid #BFC0C0;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  margin-left: 50%;
  margin-right: 50%;
}

.write-comment-container {
  border-radius: 5px;
  width: 300px;
  font-size: 13px;
  clear: both;
}

.comment-form input{
  background-color: #778899;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: none;
  border-bottom:1px solid white;
  box-sizing: border-box;
}

.comment-form input::placeholder {
  color: #191970;
  opacity: .5;
}

.comment-form input:hover {
  outline: none;
  border: none;
  border-bottom: 3px solid #191970;
  transition: width .5s ease, border-bottom .5s ease;
}

.comment-button, .comment-form button {
  font-family: "Lucida Console", Courier, monospace;
  display: inline-flex;
  height: 20px;
  width: 100px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.comment-button:hover, .comment-form button:hover,
.write-container button:hover {
  background-color: #191970;
  transition: width .5s ease, background-color .5s ease;
}

.button {
  border-radius: 5px;
}

.comment-container {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 25%;
  height: 25%;
  background-color: white;
  margin: auto;
}

.show-more {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  background-color: white;
  margin: auto;
}

.artist-review-container {
  float: right;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 40%;
  height: 40%;
  background-color: white;
  margin: auto;
}

.write-container h3 {
  color: #8B0000;
  width: 400px;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  margin: auto;
}

.submitted-review h3 {
  margin-left: -40px;
  color: #778899;
  background-color: #191970;
  font-family: "Lucida Console", Courier, monospace;
  border: 2px solid #778899;
  max-width: 480px;
  display: inline-block;
}

/* .submitted-review p {
  float: right;
} */

.top-charts {
  color: #778899;
  background-color: #191970;
  font-family: "Lucida Console", Courier, monospace;
  border: 2px solid #778899;
  max-width: 150px;
  padding: 5px;
  display: flex;
}

.sort-select {
  font-family: "Lucida Console", Courier, monospace;
  display: inline-flex;
  height: 40px;
  width: 100px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #191970
}

.profile-container h2 {
  font-family: "Lucida Console", Courier, monospace;
  color: #191970;
  text-align: center;
}

.user-reviews h3 {
  font-family: "Lucida Console", Courier, monospace;
  color: #191970;
  text-align: center;
}

.edit-btn {
  font-family: "Lucida Console", Courier, monospace;
  display: inline-flex;
  height: 40px;
  width: 100px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.edit-btn:hover {
  background-color: #191970;
  transition: width .5s ease, background-color .5s ease;
}

.track-container {
  clear: both;
  float: right;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 25%;
  height: 25%;
  background-color: white;
  margin: auto;
}

.test {
  background-color: #191970;
  border: 2px solid #778899;
  border-radius: 5px;
}

.test h3 {
  display: inline;
}

.comment-container {
  margin-left: inherit;
}

.track-container {
  margin-left: inherit;
}

.tracks {
  font-family: "Lucida Console", Courier, monospace;
  color: #778899;
  margin-left: 70%;
  clear: both;
}

.comments-header {
  font-family: "Lucida Console", Courier, monospace;
  color: #778899;
  float: none;
  clear: both;
}

.description {
  display: inline-block;
  margin-left: 30%;
  margin-right: 30%;
  box-sizing: border-box;  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: white;
  font-family: "Lucida Console", Courier, monospace;
  color: #191970;
}

.description h3 {
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.description p {
  clear: both;
  float: none;
  text-align: center;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.author:hover {
  color: grey;
}

.follow-buttons {
  text-align: center;
}

.follow-buttons button {
  font-family: "Lucida Console", Courier, monospace;
  display: inline-flex;
  height: 40px;
  width: 100px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.follow-buttons button:hover {
  background-color: #191970;
  transition: width .5s ease, background-color .5s ease;
}
